/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cairo';
}
/* variables */
:root {
  --main-color:#3AAA35;
  --secondry-color:#868686;
  --main-padding-top: 67px;
  --main-padding-bottom: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
  height:1000px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Text-font-style {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
/* End Glopal Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Medium */
@media (max-width: 992px) {
  .Text-font-style {
    font-weight: 700;
    font-size: 20px;
  }
}
/* start header  */
header {
  padding-top: var(--main-padding-top);
}
.links {
display: flex;
justify-content:space-between;
align-items: center;
text-align: center;
flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    flex-direction: column;
}
}
.links li a {
  color: var(--secondry-color);
}
.links li .active {
  color: var(--main-color);
}
.links li a:hover {
  color: var(--main-color);
}
.active {
  color: var(--main-color);
}
/* end Header */
/* start land */
.land {
  padding-top:var(--main-padding-top);
}
.land .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.land-img img {
  max-width:70%;
 }
 @media (max-width: 768px) {
  .land {
    background-image: url(../image/land-photo.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 50%;
  
  }
  .land .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
  .land-img img {
    display:none;
  }
}

.land-contant {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.land-contant .box {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  z-index: 1;
}
.land-contant .box p {
  font-style: normal;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: right;
  font-feature-settings: 'liga' off;
  color: #000000;
  margin-top:50px;
}
.land-contant .box button {
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 30px;
letter-spacing: 0em;
text-align: right;
font-feature-settings: 'liga' off;
color: #3AAA35;
border: none;
background-color:transparent;
cursor:pointer;
}
.land-contant .box .button-p {
  font-weight:500;
  font-size: 25px;
}
.download-p {
  margin-bottom:5px;
  font-weight:700;
  font-size: 25px;
}
.land-contant .box .buttons {
  display: flex;
  align-items:flex-end;
  justify-content:flex-end;
}
.left-img {
  margin: 0px 0px 0px -5px;
}
.land-contant .box .buttons img {
  width:100%;
}

.whats-p {
  margin-bottom:5px;
  font-weight:700;
  font-size: 25px;
}
.whatsapp-num {
  position: relative;
  background-color:var(--main-color);
  width:100%;
  font-weight:700;
  font-size: 25px;
  text-align: center;
  padding:10px;
  border-radius:12px;
  color:white;
  margin-top:10px;
}
.whats-icon {
 position:absolute;
 transform: translate(-50%,-50%);
 left:50%;
 top: -2%;
}
/* End land */


